<div class="floating_stories" >
  <h2>Stories for <%= kid.name %></h2>
  <% @kid_translated_stories.each do |translated_story| %>
    🔷 <%= link_to translated_story,translated_story %><br/>
  <% end if @kid_translated_stories %>
</div>
<div id="<%= dom_id kid %>">
  <p>
    <strong>Name:</strong>
    <%= kid.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= kid.surname %>
  </p>

  <p>
    <strong>Nick:</strong>
    <%= kid.nick %>
  </p>

  <p>
    <strong>Visual description:</strong>
    <%= kid.visual_description %>
  </p>
  <p>
    <strong>interests:</strong>
    <%= kid.interests %>
  </p>

  <p>
    <strong>Is male:</strong>
    <%= kid.is_male %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= kid.date_of_birth %>
  </p>

  <p>
    <strong>Internal info:</strong>
    <%= kid.internal_info %>
  </p>
  <p>
    <strong>favorite_language:</strong>
    <%= kid.favorite_language %>
  </p>

  <p>
    <strong>User:</strong>
    <%= kid.user_id %>
  </p>

  <p class='debug'>
    <strong>Avatar info:</strong>
    <pre><%= JSON.pretty_generate kid.attached_stuff_info %></pre>
  </p>

</div>
