<p style="color: green"><%= notice %></p>

<h1><%= @kids.count %> Kids</h1>

<table border='1' >
  <%= render_kid(nil) %>
<% @kids.each do |kid| %>
    <tr>
    <%= render_kid(kid) %>
    </tr>
    </p>
<% end %></table>

<!--
<div id="kids">
  <% @kids.each do |kid| %>
    <%= render kid %>
    <p>
      <%= link_to "Show this kid", kid %>
    </p>
  <% end %>
</div>
-->
<%= link_to "#{Kid.emoji} New kid", new_kid_path %>
