<div id="<%= dom_id story_paragraph %>">
  <!-- some bootstrap magic .. -->
  <%#= render partial: 'attachments/bootstrap_attachment_view', locals: {attachment: story_paragraph.p_image1 } %>

p_image1234:
  <%#= render partial: 'attachments/bootstrap_four_images',
        locals: {four_attachments: [story_paragraph.p_image1, story_paragraph.p_image2, story_paragraph.p_image3, story_paragraph.p_image4] } %>
  <%= render partial: 'attachments/bootstrap_multiple_images',
        locals: {images: [story_paragraph.p_image1, story_paragraph.p_image2, story_paragraph.p_image3, story_paragraph.p_image4] } %>
p_images:
  <%= render partial: 'attachments/bootstrap_multiple_images', locals: {images: story_paragraph.p_images } %>

  <p>
    <strong>Image1234 (4 single):</strong>
    1<%= render_image_if_attached(story_paragraph.p_image1) %>
    2<%= render_image_if_attached(story_paragraph.p_image2) %>
    3<%= render_image_if_attached(story_paragraph.p_image3) %>
    4<%= render_image_if_attached(story_paragraph.p_image4) %>
  </p>

  <p>
    <strong>Story index:</strong>
    <%= story_paragraph.story_index %>
  </p>

  <p>
    <strong>Original text:</strong>
    <%= story_paragraph.original_text %>
  </p>

  <p>
    <strong>Genai input for image:</strong>
    <%= story_paragraph.genai_input_for_image %>
  </p>

  <p>
    <strong>Internal notes:</strong>
    <%= story_paragraph.internal_notes %>
  </p>

  <p>
    <strong>Translated text:</strong>
    <%= story_paragraph.translated_text %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= story_paragraph.language %>
  </p>

  <p>
    <strong>Story (OLD):</strong>
    <%= story_paragraph.story_id %>
  </p>
  <p>
    <strong>Translated Story (new):</strong>
    <%= story_paragraph.translated_story_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= story_paragraph.rating %>
  </p>

</div>
