<div id="<%= dom_id story_paragraph %>">
  <!-- some bootstrap magic .. -->
  <%#= render partial: 'attachments/bootstrap_attachment_view', locals: {attachment: story_paragraph.p_image1 } %>

  <%#= render partial: 'attachments/bootstrap_four_images',
        locals: {four_attachments: [story_paragraph.p_image1, story_paragraph.p_image2, story_paragraph.p_image3, story_paragraph.p_image4] } %>
  <%= render partial: 'attachments/bootstrap_multiple_images', locals: {images: story_paragraph.p_images } %>

  <p>
    <strong>Image1234 (4 single):</strong>
    1<%#= render_image_if_attached(story_paragraph.p_image1) %>
    2<%#= render_image_if_attached(story_paragraph.p_image2) %>
    3<%#= render_image_if_attached(story_paragraph.p_image3) %>
    4<%#= render_image_if_attached(story_paragraph.p_image4) %>
  </p>
  <p>
    <strong>mp3_audio (NEW!) attached?:</strong>
<% if story_paragraph.mp3_audio.attached? %>
    <%#= story_paragraph.mp3_audio %>
    <%= link_to rails_blob_path(story_paragraph.mp3_audio, disposition: "attachment") do %>
          🎶 Download MP3 file
        <% end %>

<% else %>
  <%= link_to("Generate Audio NOW!", "/story_paragraphs/#{story_paragraph.id}/gen_audio", class: "btn btn-outline-dark") %>
  <%= link_to("Generate Audio LATER", "/story_paragraphs/#{story_paragraph.id}/gen_audio?delay=true", class: "btn btn-light") %>
<% end %>
    </p>



  <p>
    <strong>Story index:</strong>
    <%= story_paragraph.story_index %>
  </p>

  <p>
    <strong>Original text:</strong>
    <%= story_paragraph.original_text %>
  </p>

  <p>
    <strong>Genai input for image:</strong>
    <%= story_paragraph.genai_input_for_image %>
  </p>

  <p>
    <strong>Internal notes:</strong>
    <%= story_paragraph.internal_notes %>
  </p>

  <p>
    <strong>Translated text:</strong>
    <%= story_paragraph.translated_text %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= story_paragraph.language %>
  </p>

  <p>
    <strong>Story (OLD):</strong>
    <%= link_to story_paragraph.story,story_paragraph.story %>
  </p>
  <p>
    <strong>Translated Story (new):</strong>
    <%= link_to story_paragraph.translated_story,story_paragraph.translated_story %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= story_paragraph.rating %>
  </p>

</div>
