<div id="<%= dom_id story_paragraph %>">
  <p>
    <strong>Story index:</strong>
    <%= story_paragraph.story_index %>
  </p>

  <p>
    <strong>Original text:</strong>
    <%= story_paragraph.original_text %>
  </p>

  <p>
    <strong>Genai input for image:</strong>
    <%= story_paragraph.genai_input_for_image %>
  </p>

  <p>
    <strong>Internal notes:</strong>
    <%= story_paragraph.internal_notes %>
  </p>

  <p>
    <strong>Translated text:</strong>
    <%= story_paragraph.translated_text %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= story_paragraph.language %>
  </p>

  <p>
    <strong>Story:</strong>
    <%= story_paragraph.story_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= story_paragraph.rating %>
  </p>

</div>
