<p style="color: green"><%= notice %></p>
<%= link_to "New story paragraph", new_story_paragraph_path %>

<table border=1 >
<% @stories_with_paragraphs.each do |story_id|
      inefficient_story = Story.find(story_id)
     inefficient_story_paragraphs = @story_paragraphs.select{|sp| sp.story_id == story_id }

%>
  <tr>
    <td>
      <%= story_id  %>
    <td>
      <%= link_to inefficient_story.title, inefficient_story  %>
    <td>
      <% inefficient_story_paragraphs.each do |p|  %>
        <%= render_excerpt(p) %><br/>
      <% end %>
  <td>
      <%= link_to "#{StoryParagraph.emoji} SP #{story_id}", "/story_rebuilt/#{story_id}"  %>


<% end  %>
</table>
<!--
<h1>Story paragraphs</h1>

<div id="story_paragraphs">
  <% @story_paragraphs.each do |story_paragraph| %>
    <%= render story_paragraph %>
    <p>
      <%= link_to "Show this story paragraph", story_paragraph %>
    </p>
  <% end %>
</div>
 -->
