<div id="<%= dom_id translated_story %>">
  <p>
    <strong>Name:</strong>
    <%= translated_story.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= translated_story.user_id %>
  </p>

  <p>
    <strong>Story:</strong>
    <%= translated_story.story_id %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= translated_story.language %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= translated_story.kid_id %>
  </p>

  <p>
    <strong>Paragraph strategy:</strong>
    <%= translated_story.paragraph_strategy %>
  </p>

  <p>
    <strong>Internal notes:</strong>
    <%= translated_story.internal_notes %>
  </p>

  <p>
    <strong>Genai model:</strong>
    <%= translated_story.genai_model %>
  </p>

</div>
