<div >
    <!--
https://getbootstrap.com/docs/5.0/content/images/
<img src="..." class="img-fluid" alt="...">
    -->

    <span class="border">
        <%= render partial: 'attachments/bootstrap_attachment_view', locals: {attachment: four_attachments[0] } %>
    </span>
    <span class="border">
        <%= render partial: 'attachments/bootstrap_attachment_view', locals: {attachment: four_attachments[1] } %>
    </span>
    <span class="border">
        <%= render partial: 'attachments/bootstrap_attachment_view', locals: {attachment: four_attachments[2] } %>
    </span>
    <span class="border">
        <%= render partial: 'attachments/bootstrap_attachment_view', locals: {attachment: four_attachments[3] } %>
    </span>


<!-- https://getbootstrap.com/docs/5.0/content/tables/ -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">p_image1</th>
      <th scope="col">p_image2</th>
      <th scope="col">p_image3</th>
      <th scope="col">p_image4</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary" >
      <th scope="row">1</th>
        <% four_attachments.each do |att_i| %>
        <td>
            <%= render partial: 'attachments/bootstrap_attachment_view', locals: {attachment: att_i } %>
        </td>
        <% end %>
    </tr>
    <!-- 00 00=
    <tr class="table-warning">
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    -->

  </tbody>
</table>
