<div class="ricc-attached-image-card" >
<% if not image.is_a?(ActiveStorage::Attached) %>
        Wrong class (no image ActiveStorage::Attached)
        image class = '<%= image.class %>'
<% elsif image.is_a?(ActiveStorage::Attached::One) %>
<!-- can be ONE or MANY -->
    <%#= image_tag(image,  style: "float:right;height:150px;") if image.attached? %>
    <!-- https://getbootstrap.com/docs/5.0/content/figures/ -->
    <figure class="figure">
        <%= image_tag(image,  class: "figure-img img-fluid rounded", alt: 'alt TODO ricc ') if image.attached? %>
        <figcaption class="figure-caption">
            <b><%= image.record.class.emoji %> Caption</b>:
            <i><%= image.metadata['original_description'] rescue :NoDesc %></i>

            <a href="/attachments/destroy?signed_id=<%= image.signed_id %>" class="btn btn-outline-danger" role="button" >💣Kill Signed</a>

        </figcaption>
    </figure>
<% elsif image.is_a?(ActiveStorage::Attached::Many) %>
    TODO image class = '<%= image.class %>'
    <!-- Note this is already implemented in
    app/views//attachments/_bootstrap_multiple_images.html.erb:
    -->
<% end %>
</div>
