<h1>🐬 About</h1>

<p>  Env: <b><%= Rails.env %></b>    </p>
<p>  Is it dev?: <b><%=  Rails.env.development? %></b>    </p>
<p>  Is it prod?: <b><%=  Rails.env.production? %></b>    </p>



<h2>ENV</h2>

<p>- AI_PROJECT_ID: <b><%= AI_PROJECT_ID %></b>    </p>
<p>- GOOGLE_TRANSLATE_KEY.length: <b><%= GOOGLE_TRANSLATE_KEY.to_s.length %></b>    </p>
<p>- GOOGLE_TRANSLATE_KEY2.length: <b><%= GOOGLE_TRANSLATE_KEY2.to_s.length %></b>    </p>

To use credentials, do this <tt>EDITOR="your_editor_name --wait" bin/rails credentials:edit<tt/>

<h2>config</h2>

* Active_storage: <b><%= Rails.application.config.active_storage.service_configurations[Rails.env] rescue 'Some error with AS!' %></b><br/>
* Database: <b><%= Rails.configuration.database_configuration[Rails.env]['adapter'] %></b><br/><br/><br/>

<h2>Entities</h2>

* #Kids: <b><%= Kid.all.count %></b><br/>
* #Stories: <b><%= Story.all.count %></b><br/>
* #TranslatedStories: <b><%= TranslatedStory.all.count %></b><br/>
* #SParagraphs: <b><%= StoryParagraph.all.count %></b> (unique paragraphized stories: <%= StoryParagraph.all.map{|x| x.story_id}.uniq.sort %>)<br/>
* #Users: <b><%= User.all.count %></b><br/>
* #Attachments: <b><%= :TODOs %></b><br/>


<h2>BigMigration</h2>

Bad Stories:
<%= StoryParagraph.where(translated_story_id: nil).map { |x| x.story.id }.uniq %>
<br/>

New Situation after migration lets count the nils:
<pre><%= StoryParagraph.all.map{|x| [x.id, x.internal_notes, x.story.id, x.translated_story_id]}.inspect.gsub('],', '],<br/>').html_safe %>
</pre>
