<h2><%= StoryParagraph.emoji %><%= @story.title %> 👷‍♀️ Beauty (v3)</h2>

[This needs a mutation in story DB Schema]

<h3>TODO Translated Title (<%= @paragraphs.first.flag rescue "💔" %>)</h3>

<!-- Note to self:
https://www.inmotionhosting.com/support/website/website-design/align-float-images-css/
<img style="float: left; margin: 0px 15px 15px 0px;" src="image/your-image.png" width="100" />
<br style="clear:both" />

<div class="wrapper">
  <p class="demo-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odio temporibus voluptas error distinctio hic quae corrupti vero doloribus optio! Inventore ex quaerat modi blanditiis soluta maiores illum, ab velit.</p>
</div>

<div class="wrapper">
  <p class="demo-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odio temporibus voluptas error distinctio hic quae corrupti vero doloribus optio! Inventore ex quaerat modi blanditiis soluta maiores illum, ab velit.</p>
</div>

-->

<div class='beautified_story' >
  <% @paragraphs.each_with_index do |p, ix|
    left_style = "float: left; margin: 0px 15px 15px 0px;"
    right_style = "float: right; margin: 0px 15px 15px 0px;"
    alternative_style = "float: #{ix %2 == 0 ? :left : :right}; margin: 0px 15px 15px 0px;"
  %>
    <div class='beautified_paragraph wrapper'  >
      <p  class="beautified-paragraph demo-2" >🔷
        <%= render_image_if_attached(p.p_image1, verbose: false , style: alternative_style, width: 100) %>
        <%= p.translated_text %>
      <%#= p.original_text %>
        <%= p.flag %>
        </p>
        <br style="clear:both" />

    </div>
  <% end %>
</div>
