<%
  # TODO get also from partial parameter :)
  current_page_number =  (params[:page] || 1).to_i
  total_pages = @total_pages || 100 # TODO in controller

  def story_li_by_page_number(pn, opts={})
    opts_label = opts.fetch(:label, pn) # label defaults to PageNumber
    opts_grayed_out = opts.fetch :grayed_out, false

    if opts_grayed_out # (this)
        "TODO(gray): [#{opts_label}] thats us (gray)"
      "<li class='page-item disabled' ><a class='page-link' tabindex='-1' href='#' >#{opts_label}</a></li>".html_safe
    else
      "<li class='page-item' ><a class='page-link' href='/stories/?page=#{pn}' >#{opts_label}</a></li>".html_safe
    end
  end
%>
<div aria-label='Page navigation for stories' >
  <ul class='pagination' >
    <%= story_li_by_page_number(1, label: 'First') %>
    <%= story_li_by_page_number(current_page_number-2, label: '&laquo;') %>
    <%= story_li_by_page_number(current_page_number-1, label: 'Previous') %>
    <%= story_li_by_page_number(current_page_number, grayed_out: true) %>
    <%= story_li_by_page_number(current_page_number+1, label: 'Next') %>
    <%= story_li_by_page_number(current_page_number+2, label: '&raquo;') %>
    <%#= story_li_by_page_number(42, label: 'FortyTwo') %>
    <%= story_li_by_page_number(total_pages, label: "#{total_pages} (Last)") %>
  </ul>
</div>
