
<div id="<%= dom_id story %>">
  <h2>
 <%= render_story_title(story) %>
  </h2>

  <%= image_tag(story.cover_image,  style: "float:right;height:150px;") if story.cover_image.attached? %>
  <i><%= story.genai_summary %></i>

<!--  <p>See also in   <small class="text-muted">With faded secondary text</small>  </p>
-->



<ul class="list-group">
  <% story.paragraphs.each_with_index do |p, ix|  %>
    <li class="list-group-item" aria-current="<%= (ix==1).to_s %>" >
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      🔸 Paragraph #<%= ix+1 %>
      <% story.story_paragraphs.where(story_index: ix+1).each do |sp| %>
            <%= sp.language %>
      <% end %>

  </a>
    <%= p %> </li>
  <% end  %>

</ul>

</div>
