<div id="<%= dom_id story %>">
  <h2>
      <%= link_to "ðŸ“", edit_story_path(story) %>
    <strong><%= link_to story.title, story %></strong>
  </h2>

      <%#= image_tag(story.cover_image.variant(:thumb)) if story.cover_image.attached? %>
      <%= image_tag(story.cover_image,  style: "float:right;height:200px;") if story.cover_image.attached? %>

      <%#= link_to story.cover_image.filename, story.cover_image if story.cover_image.attached? %>

    <i><%= story.genai_summary %></i>

    <% story.paragraphs.each do |p|  %>
  <p>
    ðŸ”¸ <%= p %>
  </p>
    <% end  %>


  <p>
    <%= image_tag(story.kid.avatar, style: "float:left;height:100px;") if story.kid.avatar.attached? %>

    <strong>
     <%= link_to story.kid,story.kid %>
    </strong>
  </p>


</div>
