<!-- TODO learn and use Flexbox!!
https://stackoverflow.com/questions/52397086/align-multiple-css-cards-in-html
-> https://css-tricks.com/snippets/css/a-guide-to-flexbox/   WOW!

to have 3 cards justaposed I used this:
https://stackoverflow.com/questions/2156712/how-to-float-3-divs-side-by-side-using-css
-->
<% cards_per_row ||= 3 %>
  <div class="card" style="float: left; width: 32%;">
      <p><%= story.genai_output.first(250) %>..
      <%= link_to 'more..',story %>
      [  <%= link_to '💄 Beauty', "/story_rebuilt/#{story.id}?beautfied=true" %>]
      </p>
<!--             distance_of_time_in_words(from_time, to_time)-->

      <div class="part2">
        <%= image_tag(story.cover_image, alt: "avatar", style: "width:100%") %>
        <h4> <%= story.cleaned_up_title %></h4>
        <i><%= distance_of_time_in_words(story.updated_at, Time.now) %> ago</i>
      </div>
  </div>

