
<div id="<%= dom_id story %>">
  <h2>
 <%= render_story_title(story) %>
  </h2>

<p>
  <i><%= story.genai_summary %></i>
</p>

  <% StoryParagraph.available_languages.each do |language|
    unless @already_translated.include?(language) or language != story.kid.language
# https://stackoverflow.com/questions/2695538/add-querystring-parameters-to-link-to

 broken_path = new_translated_story_path({
                :story_id => @story.id,
                :story => @story,
                :language => language,
                :internal_notes => "#{@story.title} -- Created from _story.html AppVersion=#{APP_VERSION}",
                :name => "#{waving_flag(language)} Translation of: #{@story.title}",
                },
                id: "btn-translate-story-todoid-to-todolang",
                method: :get
              )
fixed_path = broken_path.gsub(/\/new.int/,'/new?int')
%>
<!-- cleanup. Still broken but really ugly! :)
broken_path = <%#= broken_path %>
fixed_path = <%#= fixed_path %>
-->

  <%= link_to("[BUGGED] Translate to #{waving_flag language}", # https://stackoverflow.com/questions/15410895/rails-ruby-prepopulate-form-with-data-passed-from-another-page
              fixed_path, # horrible monkey patch
              class: "btn btn-success",
              )
    %>

<% end
end  %>
<% if story.genai_output.size < 3  %>
  <span class="btn bg-danger" >Empty! Please add link to re-genrate or fix.</span>
  <%= render_story_fix_button(story) %>
<% end  %>



Translate to:
<% StoryParagraph.available_languages.each do |language|
    unless @already_translated.include?(language)
%>
  <%= link_to "#{language}#{waving_flag language}", # https://stackoverflow.com/questions/15410895/rails-ruby-prepopulate-form-with-data-passed-from-another-page
    new_translated_story_path({
      :story_id => @story.id,
      :story => @story,
      :language => language,
      :internal_notes => "#{@story.title} -- Created from _story.html AppVersion=#{APP_VERSION}",
      :name => "#{waving_flag(language)} Translation of: #{@story.title}",
      },
    )
  %>
<% end; end %>





 <div class="row justify-content-end">
      <div class="col-9">
        <ul class="list-group">
          <% story.translated_stories.each do |ts| %>
            <li class="list-group-item small">
                <!-- Translated Story title-->
                <%= render_completion_pct ts %>
              <small class="text-muted"><%= link_to ts.excerpt, ts %></small>
            </li>
          <% end %>
        </ul>

        <ul class="list-group">
          <% story.paragraphs.each_with_index do |p, ix|  %>
            <li class="list-group-item" aria-current="<%= (ix==1).to_s %>" >
              <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                🔸 Paragraph #<%= ix+1 %>
              </a>
                <% story.story_paragraphs.where(story_index: ix+1).each do |sp| %>
                    <%= link_to waving_flag(sp.language), sp %>
                <% end %>
              <%= p %>
            </li>
          <% end  %>

        </ul>
     </div>
     <!-- Amazing right-side-->
      <div class="col-3 justify-content-end clearfix">
        <%#= image_tag(story.cover_image,  style: "float:right;height:150px;") if story.cover_image.attached? %>
        <%= render partial: 'attachments/image_card', locals: {image: story.cover_image }  %>
        <%= render partial: 'kids/floating_card', locals: {kid: story.kid }  %>
        <p>Score: <kbd><%= story.score %></kbd></p>
      </div>
</div>
</div>
