<p style="color: green"><%= notice %></p>

<h1><%= Story.emoji %> Stories </h1>

<table border='1' class='stories' >
  <%= render_story(nil) %>
<% @stories.each do |x| %>
    <tr>
    <%= render_story(x) %>
    </tr>
    </p>
<% end %></table>

</table>

<%= link_to "New story", new_story_path %>

<h1><%= Story.emoji %>Stories original</h1>

<div id="stories">
  <% @stories.each do |story| %>
    <%= render story %>
    <p>
      <%= link_to "Show this story", story %>
    </p>
  <% end %>
</div>

