<p style="color: green"><%= notice %></p>

<%= render @story %>

<div>
  <%= link_to "ðŸ“ Edit this story", edit_story_path(@story) %> |
  <%= link_to "ðŸ”™ Back to stories", stories_path %>

  <%= button_to "ðŸ’£ Destroy this story", @story, method: :delete %>
  <%= button_to "ðŸš§ New alternative story", @story, method: :genai_alternative %>
  <%= button_to "ðŸš§ New Sequel", @story, method: :genai_sequel %>
</div>
