<!DOCTYPE html>
<html>
  <head>
    <title>GenaiKidsStories</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- no longer required as per https://mixandgo.com/learn/ruby-on-rails/how-to-install-bootstrap -->
    <%#= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://mozilla.github.io/nunjucks/files/nunjucks.min.js"></script>
    <%#= javascript_include_tag 'test_popover_riccardo', type: "module" %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <p style="color: green"><%= notice %></p>
    <%= yield %>
    <%= render 'layouts/footer' %>

  </body>
</html>
